<a href="https://colab.research.google.com/github/AndresBorda24/Python_AndresBorda/blob/main/Curso_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1- Limitar cantidad de decimales

In [ ]:
classic_way = 48.94245
print("classic Way: %.1f"%classic_way)

In [ ]:
x = 73.142612
print("{0:.2f}".format(x))

In [ ]:
h = round(154.263412, 2)
print(h)

# Creo que este es el metodo más sencillo de usar, además, es facil de comprender...

In [ ]:
a = 13.812548712
print(format(a, '.3f'))

13.813

In [ ]:
modern_way = 73.1932412
print(f"Modern Way: {modern_way:.4f}")

Modern Way: 73.1932

### Limitar cantidad de caracteres en una cadena

In [ ]:
string = "Hello Edward"
print("Classic String: %.5s" %string)
#print('{:.7}'.format(string))
# print(format(string, '.7s'))

Classic String: Hello

# 2- Números Aleatorios

### 1

In [ ]:
import random

# Mi solución, con un poco de ayuda de google :(
numeros = [random.randint(5, 51) for num in range(10)]
print(numeros)

# Solución tutorial
my_list = []

for _ in range(10):
  rand_num = random.randint(5, 50)
  my_list.append(rand_num)

print(my_list)

[48, 50, 18, 18, 32, 48, 34, 42, 22, 12]
[12, 5, 43, 48, 38, 42, 12, 39, 46, 45]

### 2

In [ ]:
# My solution

numeros = [random.randrange(0, 101, 2) for num in range(20)]
print(numeros)

# Video solution 
my_list = []

for _ in range(20):
  rand_num = random.randrange(0, 101, 2)
  my_list.append(rand_num)

print(my_list)

[22, 36, 88, 16, 94, 96, 18, 70, 52, 70, 4, 4, 80, 20, 6, 34, 96, 84, 20, 26]
[16, 84, 8, 10, 22, 44, 46, 6, 68, 74, 94, 92, 12, 44, 98, 62, 92, 52, 54, 64]

### 3

In [ ]:
for _ in range(10):
  rand_num = random.randint(1, 10)*5
  print(rand_num)

25
40
50
50
35
45
15
50
50
25

###4

In [ ]:
some_nums = [ i for i in range(1, 21) ]
print(some_nums)

random.shuffle(some_nums)
print(some_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 5, 14, 11, 12, 6, 19, 17, 7, 16, 10, 2, 3, 13, 1, 18, 4, 20, 9, 15]

# 3- Numero mas grande en una lista

###1

In [ ]:
my_list = []

num_elements = int(input("Ingrese el total de numeros a añadir:   "))

for i in range(num_elements):
  each_element = int(input("Ingrese cada elemento:   "))
  my_list.append(each_element)

print ("Lista Original: ", my_list)

my_list.sort()
print ("Lista Ordenada: ", my_list)

print ("El numero mayor es: ", my_list[-1])
print("El numero menor es: ", my_list[0])

###2

In [ ]:
my_list = []

num_elements = int(input("Ingrese el total de numeros a añadir:   "))

for i in range(num_elements):
  each_element = int(input("Ingrese cada elemento:   "))
  my_list.append(each_element)

Longest = my_list[0]

for k in my_list[1:]:
  if (k > Longest):
    Longest = k

print("El número mayor: ", Longest)

### 3

In [ ]:
def findLargestNum(nums):
  largest = nums[0]
  for i in nums[1:]:
    if i > largest:
      largest = i
  print("EL número mayor es: ", largest)
  
findLargestNum([12, 7, 8, 10, 56, 78, 1, 9])

The Largest Number is:  78

###4

In [ ]:
def findLargestNum(nums):
	findLargestNum = max(nums)
	return findLargestNum
	
findLargestNum([12, 7, 8, 10, 56, 78, 1, 9])

78

# 4- ¿Es par o impar?

### Básico

In [ ]:
print (" Programa - Par o Impar - Versión Básica")

number = 0

number = int(input("Introduzca un número: "))  


if number%2 == 0:  
    print(f"El numero: {number} es par")    
else:
    print(f"Uyyy, el número: {number} es impar!")

###Avanzado

In [ ]:
print (" Programa - Par o Impar - Versión Avanzada")

number = 0

while True:
  try:
     number=int(input("Introduzca un número!"))  

  except ValueError:
     print("No es un número entero, intente de nuevo!") 
     continue
     
  else:
     if number%2 == 0:                 
         print("El numero", number, "es par") 
     else:
         print("Uyyy, el número", number, " no es par! Entonces, es impar!")
  break

# 5- Suma de pares o impares desde 0 a n

### Impares

In [ ]:
total = 0
num = int(input("Por favor digite un número: "))
even_numbers = []

for i in range(0, num + 1):
  if i % 2 == 1:
    even_numbers.append(i)
    total += i

print(f"Todos los números impares desde 0 hasta {num} son: {even_numbers}")
print("------------------------------")
print("La suma de los numeros impares desde 0 hasta {} es: {}".format(num, total))

### Pares

In [ ]:
total = 0

num = int(input("Por favor digite un número: "))
even_numbers = []

for i in range(0, num + 1):
  if i % 2 == 0:
    even_numbers.append(i)
    total += i

print(f"Todos los números pares desde 0 hasta {num} son: {even_numbers}")
print("-------------------------------")
print("La suma de todos los números pares desde 0 hasta {} es: {}".format(num, total))

Por favor digite un número: 10
Todos los números pares desde 0 hasta 10 son: [0, 2, 4, 6, 8, 10]
-------------------------------
La suma de todos los números pares desde 0 hasta 10 es: 30

# 6- Cantidad de digitos de un número

### Metodo 1

In [ ]:
user_input = int(input("Por favor, digite un número: "))
user_input = abs(user_input)

print("Tu número original es: ", user_input)

count = 0
while user_input > 0:
  user_input //= 10
  count += 1
  
print("La cantidad de digitos de su número es: {} ".format(count))

Por favor, digite un número: -2123412
Tu número original es:  2123412
La cantidad de digitos de su número es: 7

### Metodo 2

In [ ]:
my_number = 7548
print(len(str(my_number)))

# Variante con input

my_number2 = int(input("Por favor, digite un número: "))
print(len(str(my_number2)))

# 7- Separar cada digito de un número

### Metodo 1

In [ ]:
lst = []
def string_int(num):
    for i in num:
        lst.append(int(i))
    print(lst)

user_input = input("Digite un número: ")
string_int(user_input)

### Metodo 2

In [ ]:
def string_int(txt):
     num_int = [int(i) for i in txt]
     print(num_int)

user_in = input("Digite un número: ")
string_int(user_in)

Digite un número: 1234567
[1, 2, 3, 4, 5, 6, 7]

# 8- Suma de n Números

### Metodo 1

In [ ]:
total = 0
num = 100

for i in range(0, num+1):
    total = total + i

print("La suma de los números de 0 hasta {} es: {}".format(num,total))

### Metodo 2

In [ ]:
total = 0
num = int(input("Por favor, digite un número: "))

for i in range(0, num+1):
    total = total + i

print("La suma de los números de 0 hasta {} es: {}".format(num,total))

### Metodo 3 Funcion

In [ ]:
def sumOf(num):
     total = 0

     for i in range(1, num + 1):
         total = total +i
     return total
     
print(sumOf(10))

# 9- Contador de pares e impares (facil)

In [ ]:
user_input = int(input("Digite su número: "))

even_num = 0
odd_num = 0

while(user_input > 0):
  if user_input % 2 == 0:
    even_num += 1
  else:
    odd_num += 1
  user_input = user_input // 10

print(f"Cantidad de numeros pares: {even_num} | Cantidad de números impares: {odd_num}")

Digite su número: 123
Cantidad de numeros pares: 1 | Cantidad de números impares: 2

# 10- Contador de pares e impares (intermedio)

In [3]:
def even_odd_counter (arr_values):
  count_even = 0
  count_odd = 0 

  even_odd = []

  for i in range(len(arr_values)):
    if(arr_values[i] % 2 == 0):
      count_even += 1
    else:
      count_odd += 1
  
  even_odd.append(count_even)
  even_odd.append(count_odd)

  print(even_odd)
  print("Pares: {}  |  Impares: {} ".format(even_odd[0], even_odd[1]))

even_odd_counter([5, 2, 3, 44, 4, 9, 12, 13, 27])

[4, 5]
Pares: 4  |  Impares: 5

# 11 - 12 - Tabla de multiplicar

### Este da error sin razón aparente

In [ ]:
import sys
def multi_table():
    num = int(input("Por favor, digite el número a multiplicar: "))
    limit = int(input("¿Cual es el limite maximo de la tabla?: "))

    for i in range(1, limit + 1):
        product = num * i
        print(f"{num} * {i} = {product}")

    print("¿Desea crear otra tabla? \n 1 - Si \n 2 - No")
    x = input().lower()
    if (x == '1' or x == "si"):
        multi_table()
    else:
        print("Adios!!!")
        sys.exit("Bueno este es un mensaje de prueba")
multi_table()

### Una solucion que quiza no sea la mejor

In [ ]:
def multi_table():
    num = int(input("Por favor, digite el número a multiplicar: "))
    limit = int(input("¿Cual es el limite maximo de la tabla?: "))

    for i in range(1, limit + 1):
        product = num * i
        print(f"{num} * {i} = {product}")

    print("¿Desea crear otra tabla? \n 1 - Si \n 2 - No")
    x = input().lower()
    if (x == '1' or x == "si"):
        multi_table()
    else:
        print("Adios!!!")
        quit()
multi_table()

# 13- Mostrar los números del 1 al 100 sin loops

### Mi solucion

In [ ]:
def one (x):
    if x <= 100:
        print (x)
        x += 1
        one(x)
    else:
        return print('Ya esta!')

num = 1

one(num)

### Solucion video

In [ ]:
def hundredNums (num):
  if num != 101:
    print(num)
    num += 1
    hundredNums(num)
  else:
    return 
  
hundredNums(1)

# 14- Numeros del 100 al 1

### Metodo 1

In [ ]:
for i in range(100,0,-1) :
    print(i)

### Metodo 2

In [ ]:
counter = 100

while counter > 0:
  print(counter)
  counter -= 1

### Metodo 2.1

In [ ]:
counter = 100
while counter >= 0:
  if counter > 0:
    print(counter)
  if counter == 0:
    print("Este es el final!!!")
  counter -= 1

### Metodo 3

In [ ]:
counter = 100

while counter >= 0:
  if counter != 0:
    print(counter)
  else:
    print("Este es el final!!!")
  counter -= 1

# 15- Números Secuenciales

### Metodo 1

In [ ]:
seq_number = [i for i in range(1, 21)]
print(seq_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Metodo 2

In [ ]:
seq_number = list((i for i in range(1, 21)))
print(seq_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Metodo 3

In [ ]:
my_lst = []
for x in range(1, 21):
  my_lst.append(x)

print(my_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Metodo 4

In [1]:
user_input = int(input("Digite su rango de números: "))

seq_number = [i for i in range(1, user_input + 1)]
print(seq_number)

Digite su rango de números: 6
[1, 2, 3, 4, 5, 6]

### Metodo de una sola linea

In [ ]:
print(list(range(20, 0, -1)))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]